h1 .fi-rss {
    color: #ff7f00;
    font-size: 60%;
}
.post-meta {
    text-align: right;
    font-size: 75%;
    color: #888;
    margin-top: -0.75em;
    margin-bottom: 1em;
}
.post-meta span {
    color: #555;
    font-size: 110%;
}
.post-meta span:after {
    content: ', ';
}
.post-meta span:last-child:after {
    content: normal;
}
