html {
    min-height: 100%;
}
body {
    height: 100%;
}
.content-wrapper {
    min-height: 100%;
    margin-top: -45px;
    padding-top: 45px;
    padding-bottom: 110px;
}
.content > table {
    margin-left: auto;
    margin-right: auto;
}
.content > table > tbody > tr > td:first-child {
    padding-right: 1em;
}

div.katex-rendered {
    text-align: center;
}

.top-bar .title-area {
    padding-left: 1.5em;
}
.top-bar .title-area .name a {
    font-size: 110%;
    font-weight: bold;
    padding-left: 0.5em;
    margin: auto 0.5em;
}
.top-bar .left li a {
    font-size: 90%;
    text-align: center;
}
.top-bar .left > li > a {
    font-size: 110%;
}
footer {
    display: table;
    width: 100%;
    height: 80px;
    margin-top: -75px;
    background: #333;
    color: #fff;
    font-size: 80%;
    line-height: 150%;
}
footer > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer .links > span:after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
footer .links > span:last-child:after {
    content: none;
}

.post-list {
    list-style: none;
    margin-top: 2em;
}
.post-list li {
    margin: 0.25em auto;
}
.post-list .date {
    display: inline-block;
    width: 7em;
    font-family: monospace;
}
.post-list .sep {
    font-family: monospace;
    font-size: 125%;
    margin-right: 0.5em;
    vertical-align: -.1em;
}
.post-list a {
    font-size: 125%;
    vertical-align: -.1em;
}

.paypal-box form, .paypal-box table {
    width: 100%;
}

.content.columns {
    margin-top: 2em;
    text-align: justify;
}
.accordion {
    margin-bottom: 2.5em;
}
.accordion .accordion-navigation > a:first-child {
    font-size: 120%;
}
img {
    display: block;
    margin: 10px auto 30px auto;
    max-width: 100%;
}
.squeeze {
    margin-top: -16px;
    margin-bottom: -27px;
}

.link-block {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 1.25rem;
}
.download.button {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.download.button .sub {
    font-size: 70%;
    font-weight: normal;
}
.download-alt {
    font-size: 75%;
}


/* Override Foundation's code block styling to match Prism's. */
pre {
    background: #f5f2f0;
    padding: 1em;
    padding-left: 2em;
}
pre code {
    font-weight: normal;
    color: #000;
}

/* Mobile only. */
@media only screen and (max-width: 40em) {

    footer {
        margin-top: -95px;
        height: 95px;
    }

}
