<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

{% block titletag %}
<title>{% block title %}{{ this.title }}{% endblock title %} — MacDown: The open source Markdown editor for macOS</title>
{% endblock titletag %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
<link rel="stylesheet" href="{{ '/static/styles/site.css'|url }}">
{% endblock styles %}

{% block extrahead %}
<meta property="og:image"
    content="{{ site.make_absolute_url('/static/images/logo.png') }}">
<meta property="og:description"
    content="MacDown is an open source Markdown editor for macOS, released under the MIT License.">
{% endblock extrahead %}

</head>

<body>

{% set latest_release = site.query('/download').filter(F.channels.contains('stable')).order_by('-build_number').first() %}

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><h1><a href="{{ '/'|url }}">Home</a></h1></li>
    <li class="toggle-topbar"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><a href="{{ '/features/'|url }}">Features</a></li>
      <li><a href="{{ '/faq/'|url }}">FAQ</a></li>
      <li><a href="{{ '/blog/'|url }}">Blog</a></li>
      <li class="has-dropdown">
        <a href="{{ '/history/'|url }}">History</a>
        <ul class="dropdown">
          <li><a href="{{ '/history/stable/'|url }}">Stable</a></li>
          <li><a href="{{ '/history/testing/'|url }}">Testing</a></li>
        </ul>
      </li>
    </ul>
    <ul class="right">
      {% if latest_release %}
      <li class="active show-for-large-up">
        <a href="{{ latest_release.download_url }}">Download MacDown</a>
      </li>
      {% endif %}
      <li>
        <a href="https://uranusjr.com">
          Visit Author Site <span class="fi-arrow-right"></span>
        </a>
      </li>
    </ul>
  </section>
</nav>

<div class="content-wrapper">
  {% block contentwrapper %}
  <div class="row">
    <div class="medium-offset-1 medium-10 content columns">
      <h1>
        {% block pagetitle %}{{ this.title }}{% endblock pagetitle %}
      </h1>
      {% block content %}{% endblock content %}
    </div>
  </div>
  {% endblock contentwrapper %}
</div>

<footer>
  <div>
    <div class="copyright">
      Copyright © 2014–{{ current_year }} <a href="https://uranusjr.com">Tzu-ping Chung</a>. Icon design by <a href="http://mdznr.com/">Matt Zanchelli</a>.
      Built with
      <a href="https://www.getlektor.com">Lektor</a>,
      <a href="https://foundation.zurb.com">Foundation</a>, and ❤️.
    </div>
    <div class="links">
      <span><a href="https://github.com/MacDownApp">MacDown on GitHub</a></span>
      <span><a href="https://uranusjr.com/">uranusjr.com</a></span>
    </div>
  </div>
  <!-- TODO: Fork button here. -->
  <!-- http://markdotto.com/2011/11/26/introducing-unofficial-github-buttons/ -->
</footer>

{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.0/js/foundation.min.js"></script>
<script>$(document).foundation();</script>
{% endblock scripts %}

</body>

</html>
