{% extends 'page.html' %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/styles/blog.css'|url }}">
{% endblock styles %}

{% block extrahead %}
{{ super() }}
{% include 'includes/blog_alternate.html' %}
{% endblock extrahead %}

{% block content %}

<hr>

<div class="post-meta">
  {% if this.author %}by <span>{{ this.author }}</span>{% endif %}
  {% if this.pub_date %}
  at <span>{{ this.pub_date.strftime('%d %b, %Y') }}</span>
  {% endif %}
</div>

{{ this.content }}
{{ render_disqus_comments(identifier='/blog/{}/'.format(this.id)) }}

{% endblock content %}
