{% extends 'barepage.html' %}

{% from 'macros/pagination.html' import render_pagination %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ '/static/styles/blog.css'|url }}">
{% endblock styles %}

{% block extrahead %}
{{ super() }}
{% include 'includes/blog_alternate.html' %}
{% endblock extrahead %}

{% block pagetitle %}
{{ super() }}
<a href="#" class="fi-rss" data-dropdown="feed-dropdown"></a>
<ul id="feed-dropdown" class="f-dropdown" data-dropdown-content>
  <li><a href="{{ '/blog/feed/atom.xml'|url }}">Atom</a></li>
  {# <li><a href="{% url 'blog:rss201rev2' %}">{% trans 'RSS 2.0.1 revision 2' %}</a></li> #}
</ul>
{% endblock pagetitle %}

{% block content %}
<hr>
<ul class="post-list">
  {% for post in this.pagination.items %}
  <li>
    <span class="date">{{ post.pub_date }}</span>
    <span class="sep">»</span>
    <a href="{{ post|url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

{# {{ render_pagination(this.pagination) }} #}
{% endblock content %}
